/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, footer {
    margin: 20px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    display: inline; /* Alinea los elementos en línea */
    margin-right: 20px; /* Agrega un espacio entre los elementos */
}
nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footerPersonal {
    background-color: #0e281f;
    width: 100%;
    flex-shrink: 0;
  }