/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, footer {
    margin: 20px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    display: inline; /* Alinea los elementos en línea */
    margin-right: 20px; /* Agrega un espacio entre los elementos */
}
nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}
main {
    padding: 20px;
}

.whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Para asegurarse de que esté por encima de otros elementos */
}

.whatsapp-container img {
    max-width: 200px; /* El ancho máximo que deseas */
    height: auto; /* Mantener la proporción original */
}




footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
    position: absolute; /* para que la barra del footer este pegada abajo*/
    bottom: 0;
    width: 100%;
    



}
.footerPersonal {
    background-color: #0e281f;
    width: 100%;
    flex-shrink: 0;
  }